<div class="flex flex-wrap	">
<div class="rounded-lg w-72	h-72 relative m-6" *ngFor="let image of images.data">
    <button (click)="onClick($event)" class="rounded-lg" data-dialog-target="image-dialog" Open large modal>
        <img ngSrc={{image.images[0].link}} class="rounded-lg object-cover" fill />
    </button>
</div>
</div>
<div *ngIf="showModal"
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex"
    (click)="toggleModal()">
    <div class="relative w-full h-dvh py-6 mx-auto max-w-6xl">
        <!--content-->
        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none h-full">

            <img ngSrc={{imgSrc}} class="object-cover" fill />

            <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">

            </div>
        </div>
    </div>
</div>
<div *ngIf="showModal" class="opacity-25 fixed inset-0 z-40 bg-black"></div>