/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

$desktopMargin: 6rem;
body {
  margin-left: $desktopMargin;
  margin-right: $desktopMargin;
}
